



<div class="card bg-light mb-3">
  <div class="card-header">Chickentest</div>     

  <div class="card-body">
      <div class="alert alert-info" *ngIf="eggs?.length==0">
          No hay pollos en el sistema.
      </div>     

       <div><h2>Listado de Huevos</h2></div>
        <button class="btn btn-primary my-2" routerLink="/eggs/form">Crear</button>

      <table class="table table-hover table-striped" *ngIf="eggs?.length>0">
          <thead>
              <tr>
                  <th>Precio</th>
                  <th>Dias</th>
                  <th>editar</th>
                  <th>eliminar</th>
              </tr>
          </thead>
          <tbody *ngFor="let egg of eggs">
              <tr >
                 
                  <td>{{egg.price}}</td>
                  <td> {{egg.amountDays}}</td>
                  <td><button class="btn btn-secondary btn-sm" 
                    [routerLink]="['/eggs/form',egg.id]">
                    editar
                </button></td>
                  <td><button class="btn btn-danger btn-sm" 
                    (click)="eliminar(egg)">
                    eliminar
                </button></td>
              </tr>
          </tbody>
      </table>
   
     </div>
</div>