<div class="col">
                 
    <div class="card-body">
  
       <div> 
  
      <table class="table table-hover table-striped" >
          <thead> 
              <tr> 
                <th>Cantidad Pollos Comprados</th>
                  <th>Cantidad Pollos Vendidos</th>

                  <th>Cantidad Huevos Comprados</th>
                  <th>Cantidad Huevos Vendidos</th>
                 
                


             </tr>
          </thead>
          <tbody >
              <tr >
                  <td>{{comprasCantidadChicken}}</td>
                 <td>{{ventasCantidadChicken}}</td> 
                 <td>{{comprasCantidadEgg}}</td>
                 <td>{{ventasCantidadEgg}}</td>
                            
               
              </tr>
          </tbody>
      </table> 

    </div>
    <div *ngIf="ventas?.length>0 && compras?.length>0"> 
  
        <table class="table table-hover table-striped" >
            <thead> 
                <tr>
                    <th>Compras Total</th>
                  <th>Ventas Total</th>
               </tr>
            </thead>
            <tbody >
                <tr >
                      <td>${{comprastotal}}</td>
                   <td>${{ventastotal}}</td>
        
                </tr>
            </tbody>
        </table> 
  
      </div>
    </div>
</div>
