<div class="col">
                 
    <div class="card-body">
  
       <div> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Ventas</th>
                  <th scope="col">#Cantidad</th>
              
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pollos</td>
                  <td>{{ventasCantidadChicken}}</td>
                </tr>
                <tr>
                  <td>Huevos</td>
                  <td>{{ventasCantidadEgg}}</td>
                </tr>
           
              
              </tbody>
              <thead>
                <tr>
                  <th scope="col">Compras</th>
                  <th scope="col">#Cantidad</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pollos</td>
                  <td>{{comprasCantidadChicken}}</td>

                </tr>
                <tr>
                    <td>Huevos</td>
                    <td>{{comprasCantidadEgg}}</td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">$Total</th>

                </tr>
              </thead>
              <tbody>

              <tr>
                <td>Total Compras</td>
                <td>{{comprastotal}}</td>

              </tr>
              <tr>
                  <td>Total Ventas</td>
                  <td>{{ventastotal}}</td>

                </tr>
            </tbody>
            </table>
          
        </div>


    

    </div>
 
    </div>
</div>
