

    <div class="card bg-light mb-3">
      <div class="card-header">Listado de Pollos</div>

      <div class="card-body">
        
        <div class="alert alert-info" *ngIf="chickens?.length==0">
              No hay pollos para compra.       

          </div>                   <button class="btn btn-primary my-2" routerLink="/chickens/form">Reponer pollos</button>
 
         <div> <img src="../../../assets/logogranja.jpg" alt="" width=80 class="img-fluid rounded mx-auto d-block" width="15%" height="20%">

          <h2 class="center">Detalle de Pollos</h2></div>

          <table class="table table-hover table-striped" *ngIf="chickens?.length>0">
              <thead> 
                  <tr>
                      <th>Precio</th>
                      <th>Dias</th>
<!--                       <th>Comprar</th>
 -->                      <th>Modificar</th>
                 </tr>
              </thead>
              <tbody *ngFor="let chicken of chickens">
                  <tr >
                     
                      <td>${{chicken.price}}</td>
                      <td> {{chicken.amountDays}}</td>
                      <!-- <td><button class="btn btn-secondary btn-sm" 
                        (click)="comprar(chicken)">
                        Comprar para granja
                    </button></td> -->
                      <td><button class="btn btn-secondary btn-sm" 
                        [routerLink]="['/chickens/form',chicken.id]">
                        Modificar
                    </button></td>
         
                  </tr>
              </tbody>
          </table>
       
         </div>
    </div>