

    <div class="card bg-light mb-3">
      <div class="card-header">Listado de Pollos</div>

      <div class="card-body">
        <div class="alert alert-info" *ngIf="chickens?.length==0">
              No hay pollos en el sistema.
          </div>     
                <div><h2>Listado de Pollos</h2></div>
        <button class="btn btn-primary my-2" routerLink="/chickens/form">Comprar</button>

          <table class="table table-hover table-striped" *ngIf="chickens?.length>0">
              <thead> 
                  <tr>
                      <th>Precio</th>
                      <th>Dias</th>
                      <th>Modificar</th>
                      <th>Vender</th>
                  </tr>
              </thead>
              <tbody *ngFor="let chicken of chickens">
                  <tr >
                     
                      <td>${{chicken.price}}</td>
                      <td> {{chicken.amountDays}}</td>
                      <td><button class="btn btn-secondary btn-sm" 
                        [routerLink]="['/chickens/form',chicken.id]">
                        Modificar
                    </button></td>
                      <td><button class="btn btn-danger btn-sm" 
                        (click)="eliminar(chicken)">
                        Vender
                    </button></td>
                  </tr>
              </tbody>
          </table>
       
         </div>
    </div>