<div class="card bg-light mb-3">
    <div class="card-header">Nuevo</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/principal">volver</button>

        <form>
         
            <div class="form-group">
                <label for="precio">Precio</label>
      
                      $<input type="number" name="precio" class="form-control" id="precio" 
                [(ngModel)]="chicken.price">
            
                
            </div>
            <div class="form-group">
                <label for="dias">Fecha</label>
               <input type="date" name="dias" class="form-control" id="dias" 
                [(ngModel)]="chicken.dateFarm">
               
            </div>
                        

         
            <label for="sexo">Es Gallina?</label><br>

            <label class="form-group">
                <input class="form-check-input" type="radio" id="true"  name="true" [value]="true" [(ngModel)]="chicken.sexo"> SI
            </label>
            <label class="form-group">
                <input class="form-check-input" type="radio" id="false"  name="false" [value]="false" [(ngModel)]="chicken.sexo"> NO
            </label>
 
            <div class="form-group">
             <br> <button type="button" class="btn btn-primary" 
                (click)="chicken.id? editar(): reponer()"> {{ chicken.id? 'Modificar': 'Reponer' }}
                </button> 
            </div>
        </form>
    </div>
</div>