
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
 
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/principal">Granja Home</a>

      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/chickens">Pollos</a>
      </li>
   
 
      <li class="nav-item dropdown">
        <a class="nav-link"  routerLink="/eggs">Huevos</a>

      </li>
    </ul>

  </div>

</nav> 