<!-- 
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
   
 
  
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
     
    <ul class="nav justify-content-end">
      <li class="nav-item active">
        <a class="nav-link"  routerLink="/principal">Granja Home</a>

      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/chickens">Pollos</a>
      </li>
   
 
      <li class="nav-item dropdown">
        <a class="nav-link"  routerLink="/eggs">Huevos</a>

      </li>

      <li class="nav-item dropdown">
        <a class="nav-link"  routerLink="/compras">Compras</a>

      </li>
      <li class="nav-item dropdown">
        <a class="nav-link"  routerLink="/ventas">Ventas</a>

      </li>
          <li >
        <a  class="nav-link justify-content-end"  routerLink="">Adminjkk</a>
     
      </li>
    </ul>

  </div>

</nav>  -->

<div class="topnav">
  <a class="active" routerLink="/principal">Home</a>
  <a routerLink="/compras">Compras</a>
  <a routerLink="/ventas">Ventas</a>
  <div class="topnav-right">
    <a routerLink="/administrador">Admin</a>
  </div>
</div>