<!-- <div class="container py-3">

<app-chickens></app-chickens>
</div>
<div class="container py-3">

<app-eggs></app-eggs>
</div>

 -->

 <main>

  
    <div class="container px-4 py-5" id="hanging-icons">
      <h2 class="pb-2 border-bottom">Solo uso de administrador</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
          </div>
          <div>
            <h2>Dar de alta pollos</h2>
            <app-chickens></app-chickens>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"/></svg>
          </div>
          <div>
            <h2>Dar de alta huevos</h2>
            <app-eggs></app-eggs>
          </div>
        </div>
     
        <div class="col d-flex align-items-start">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"/></svg>
            </div>
            <div>
              <h2>Granja</h2>
              <app-farms></app-farms>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"/></svg>
            </div>
            <div>
              <h2>Parametros</h2>
              <app-parametros></app-parametros>
  
            </div>
          </div>
      </div>
    </div>
  
   
  </main>