<div class="alert alert-info" *ngIf="farms?.length==0">
    No existe granja en el sistema.
    <button class="btn btn-primary my-2" routerLink="/farms/form">Crear</button>

</div> 
<div class="container py-3">

    <main>
<table class="table table-hover table-striped" *ngIf="farms?.length>0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Presupuesto</th>

            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody *ngFor="let farm of farms">
        <tr >
            <td>{{farm.name}}</td>

            <td>{{farm.estimate}}</td>
           
            <td><button class="btn btn-secondary btn-sm" 
                [routerLink]="['/farms/form',farm.id]">
                Modificar
            </button></td>
        
    
             
             <td>  <button type="button" class="btn btn-primary btn-sm pull-left  btn-primary-spacing" (click)="mostrarPollosyHuevos(farm.id)">Mostrar stock Granja</button>
               <button type="button" class="btn btn-primary btn-sm pull-right btn-primary-spacing" (click)="ocultarDetalles()">Ocultar</button>

            </tr>
    </tbody>

</table>


  
</main>
  </div>


  <div class="container py-3">

    <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          

          <div class="col">
          
              <div class="card-body">
          
                <div *ngIf="chickens?.length>0">
      
      
                <h4 class="my-0 fw-normal">Cantidad de  Pollos ={{chickens?.length}} </h4>
    
              </div>
            </div>
    
          </div>
          <div class="col">
             
              <div class="card-body">
       
                <div *ngIf="eggs?.length>0">
                  
                    <h4 class="my-0 fw-normal">Cantidad de  Huevos ={{eggs?.length}} </h4>

     
    
                </div>
              </div>
            </div>
        </div>
        </main>
    </div>