<div class="card bg-light mb-3">
    <div class="card-header">Chickentest

    </div>     
    <div class="card-body">
          
  
        <div>
            <h2  class="center">Informacion de la granja</h2>
         <img src="../../../assets/pollos.jpg" alt="" width=80 class="img-fluid rounded mx-auto d-block" width="15%" height="20%">
      
      
          <app-farms [listadoFarms]="ListadoFarmsPrincipal" (farmseleccionada)="tomarFarmParaDetalles($event)"  ></app-farms>
          <app-farm-chicken [oneFarm]="oneFarm" ></app-farm-chicken>
        </div>
    </div>
</div>
