<div class="card bg-light mb-3">
    <div class="card-header">Nuevo</div>
    <div class="card-body">
        <button class="btn btn-secondary my-2" routerLink="/eggs">volver</button>

        <form>
            <div class="form-group">
                <label for="precio">Precio</label>
      
                      <input type="text" name="precio" class="form-control" id="precio" 
                [(ngModel)]="egg.price">
            
                
            </div>
            <div class="form-group">
                <label for="dias">Dias</label>
               <input type="text" name="dias" class="form-control" id="dias" 
                [(ngModel)]="egg.amountDays">
               
            </div>
        

      

          
            <div class="form-group">
                <button type="button" class="btn btn-primary" 
                  (click)="egg.id? editar(): crear()"> {{ egg.id? 'Editar': 'Crear' }}
                  </button> 
              </div>
        </form>
    </div>
</div>